.idea/
lesson3/__pycache__/
lesson3/oop-vmarbaev/__pycache__/
lesson3/oop_thagoev/__pycache__/

lesson3/oop-adashieva/__pycache__/
lesson3/mmordvin/__pycache__/ 
lesson3/oop-lavrentev/__pycache__/
.vscode/
lesson3/oop-vkrasikov/__pycache__/
lesson7/__pycache__/

lesson7/config.py
